* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.common-btn {
    background-color: rgb(37, 86, 233);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


/* header and navbar section */

.site-header {
    background-color: white;
}

.navbar-container {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 64px;
}

/* logo */
.navbar-left-logo img {
    display: block;
    height: 40px;
}

/* nav links */
.navbar-center-links ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar-center-links ul li a {
    text-decoration: none;
    color: rgb(164, 163, 163);
    font-size: 15px;
}

/* Hero section */
.hero-section {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 580px;
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 60px 24px;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-title {
    font-size: 52px;
    font-weight: 800;
    color: #ffffff;
}

.hero-description {
    font-size: 16px;
    color: #d1d5db;
    line-height: 1.7;
    max-width: 520px;
}

.hero-content .common-btn {
    font-size: 15px;
    padding: 12px 32px;
    margin-top: 180px;
    width: auto;
}

/* Speakers section */
.speakers-section {
   padding: 80px 0;
}

.speakers-title {
    font-size: 36px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.speaker-card {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    /* padding: 12px; */
}

.speaker-card-image img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
}

.speaker-card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
}

.speaker-track {
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 98, 255);
    text-transform: uppercase;
}

.speaker-name {
    font-size: 18px;
    font-weight: 700;  
}

.speaker-company {
    font-size: 14px;
}